<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>fondy</name>
            <displayName><![CDATA[Платежи Fondy]]></displayName>
            <version><![CDATA[0.1]]></version>
            <description><![CDATA[Оплата через Fondy]]></description>
            <author><![CDATA[Fondy]]></author>
            <tab><![CDATA[Payment]]></tab>
	<confirmUninstall>Действительно хотите удалить модуль?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>